body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Special Elite', cursive;
  width: 1000px;
  background-image: url(/images/leatherbackground2.jpg);
  background-position: center;
  background-attachment: fixed;
/*  background-size: cover;*/

}
